/* Style CSS for pricing table cards project */

.pricing-container {
    display: flex;
    flex-direction: row ;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
}

.pricing-plan {
    background-color: lightslategrey;
    width: 300px;
    height: 260px;
    text-align:center;
    border-radius: 10px;
}

.plan-button{
    width: 75px;
    height: 30px;
    border: 0cm;
    background-color: #ff6600 ;
    box-shadow: 50px;
    border-radius: 9%;
    color: white;
    margin-top: 20px;
}

.plan-price{
    font-weight: bolder;
    font-size: xx-large;
}

.plan-title{
    font-size: large;
    text-transform: capitalize;
    font-weight: bold;
}

body {
    font-family: 'Sono', sans-serif;
    background-color: cadetblue;
  }

ul > li {
    list-style: none;
    margin-left: -45px;
}

  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 700px) {
    .pricing-container {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
        height: 100%;
    }
  }