<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend Warrior</title>
</head>
<body>
    <% if (day == 0 || day == 6) { %>
        <h1>Hey! It's the Weekend, It's time to have fun!</h1>
    <% } else { %>
        <h1>Hey! It's a weekday, It's time to work hard fun!</h1>
    <% } %>

<script src="../index.js"></script>
</body>
</html>